---

import {getOldestLaunches, getLaunchBy} from "../../services/spacex"
import Layout from "../../layouts/Layout.astro";

const {id} = Astro.params

let launch
if(id){
    launch = await getLaunchBy({id})
}

 export  async function getStaticPaths() {
    const launches = await getOldestLaunches()
    return launches.map((launch)=>({
      params:  {id:launch.id}
    }));
} 

---
<Layout title=`Lanzamiento ${id}`>
<article>
    <img src = {launch?.links?.patch.small} alt={launch?.name}/>
    <h2 class="text-4xl text-white font-bold"> Launch # {launch?.flight_number}</h2>
    <p class="text-lg">{launch?.details}</p>
</article>
</Layout>